
{% load static %}

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">IA Supervisionada</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Home</a></li>
                <li><a href="badges.html">Processamento da base</a></li>
                <li><a href="collapsible.html">Rodar Modelos</a></li>
                <li><a href="collapsible.html">Máquina de Comitês</a></li>
            </ul>
        </div>
    </nav>
</header>