
{% load static %}

<header>
    <nav class="gradiente-base animated fadeIn">
        <a href="{% url 'home' %}" class="brand-logo black-white left"><img src="{% static 'img/outros/logo.png' %}" alt="VET SYSTEM"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <div class="nav-wrapper">
                    <form>
                      <div class="input-field" style='height: 4rem;'>
                        <input id="search" type="search" class='transparent' style='min-width:15rem' required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i id='close' class="material-icons">close</i>
                      </div>
                    </form>
                </div>
            </li>
            
            <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large white-text gradiente-amarelo menu"> MENU </a></li>
        </ul>
    </nav>


</header>
